<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.mapper.BookMapper">


<!--    若实体类中的属性字段名和表中的字段名没有一一对应，则需要将实体类和表做一个映射   -->
    <resultMap id="Book" type="com.ws.pojo.Book">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="description" property="description"/>
    </resultMap>

    <sql id="BookVo">
        id,name,type
    </sql>
    <select id="getBookByType" resultType="com.ws.pojo.Book">
        select <include refid="BookVo" /> from book where type=${type}
    </select>



</mapper>