<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.mapper.BookCompleteWithAutMapper">

    <resultMap id="BookCompleteVo" type="com.ws.vo.BookCompleteVo">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="type" column="type" />
        <result property="description" column="description" />
        <result property="authorName" column="author" />
    </resultMap>

<!--  查询全部数据带有作者名字  -->
    <select id="getAllBookWithAuthor" resultMap="BookCompleteVo">
        select * from book left join author on book.book_author=author.id
    </select>

<!--  根据书名查询带有作者名字的实体  -->
    <select id="getBookByName" resultMap="BookCompleteVo">
        select * from book left join author on book.book_author=author.id where name=#{name}
    </select>


</mapper>